* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --Slate-300: hsl(212, 45%, 89%);
    --Slate-500: hsl(216, 15%, 48%);
    --Slate-900: hsl(218, 44%, 22%);
}

body {
    background-color: var(--Slate-300);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    font-family: "Outfit", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--white);
    padding: clamp(1rem, 4vw, 1rem);
    border-radius: 16px;
    max-width: 20em;
    width: 90%;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.qr-image {
    width: 100%;
    border-radius: 12px;
}

.card h1 {
    margin-top: 16px;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    color: var(--Slate-900);
}

.card p {
    font-weight: 400;
    font-size: 1em;
    font-style: normal;
    color: var(--Slate-500);
    margin: 12px 0px;
}

footer {
  margin-top: 12px;
  text-align: center;
  font-size: 10px;
  color: var(--Slate-500);
}

footer a {
  color: var(--Slate-900);
  text-decoration: none;
  font-weight: 400;
}

footer a:hover,
footer a:focus {
  text-decoration: underline;
}

/* @media (min-width: 1024px) {
    .card {
        max-width: 20em;
        padding: 18px;

    }   

    .card h1 {
        font-size: 1.3em;
    }

    .card p {
        font-size: 1em;
    }

    .footer {
        font-size: 1em;
    }


} */